*{
   margin: 0px;
   padding: 0px;
}
body{
   background-color: black;
   animation: transitionIn 0.75s;
}
@keyframes transitionIn {
   from {
      opacity: 0;
      transform: rotateX(-10deg);
   }
   to {
      opacity: 1;
      transform: rotateX(0);
   }
}


.navigation{
   display: flex;
   background-color: black;
   height: 120px;
   

}
.image{
   /* width: 40px; */
   display: flex;
   justify-content: left;
   /* margin-top: 1px; */
   padding-left: 10px;
}
ul{
   /* padding-top: 70px; */
   display: flex;
   justify-content: right;
   list-style: none;

}
img{
   width: 150px;
   padding-left: 55px;
   /* display: flex;
   justify-content: left; */
}
li{
   color: white;
   padding: 10px;
   display: flex;
   align-items: center;
   font-size: 27px;
   font-style: normal;
   font-family: candara, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: bold;   
}
a{
   /* align-content: center; 
   align-items: center; */
}
.words{
   display: flex;
   justify-content: right;
   width: 70%;
}
#home{
   color: #FF5757;
}
/* .sub-container{
   animation: transitionIn 0.75s;
   
} */
 

.contents{
   display: flex;
   justify-content: center;
   padding-top: 10%;
   color: white;
}
p1{
   color:#FF5757;
}
.contents-1{
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding: 0.5%;
   color: white;
   font-style: italic;
}
#h2{
   color: rgb(214, 208, 208);
}
p2{
   color: rgba(255, 255, 255, 0.932);
   font-style: italic;
   font-family: candara;
   font-size: 25px;
   /* padding-left: 9px; */
}
#submit{
   margin-top: 10px;
   margin-bottom: 10px;
   border: none;
   border-radius: 15px;
   font-size: 20px;
   font-family: candara;
   height: 45px;
   outline: none;
   width: 15%;
   color: black;
   background:  #FF5757;
   cursor: pointer;
   transition: .3s ;
   
}
.input-field{
   display: flex;
   justify-content: center;
   padding-top: 20px;
   
}
#submit:hover{
   box-shadow: 1px 5px 7px 1px rgb(14, 245, 187);
}
a{
   color: white;
   text-decoration: none;
   transition: .3s;
}
a:hover{
   box-shadow: 1px 5px 7px 2px rgb(14, 245, 187);
   border-radius: 15px;
}
.navigation:hover{
   box-shadow: 1px 5px 7px 2px rgba(14, 141, 245, 0.938);
   border-radius: 15px;

}