*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    animation: transitionIn 0.75s;
 }
 @keyframes transitionIn {
    from {
       opacity: 0;
       transform: rotateX(-10deg);
    }
    to {
       opacity: 1;
       transform: rotateX(0);
    }
 }
.container{
    /* background-color: rgb(217, 230, 230); */
    height: 100vh;
    display: grid;
    grid-template-areas: "nav nav nav nav nav nav nav nav nav nav"
                         "nav nav nav nav nav nav nav nav nav nav"
                         "me me me get get get get get give give"
                         "me me me real real real real real give give"
                         "me me me real real real real real give give"
                         "me me me real real real real real give give"
                         "me me me real real real real real give give"
                         "me me me real real real real real give give"
                         "footer footer footer footer footer footer footer footer footer footer"
                         "footer footer footer footer footer footer footer footer footer footer";
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    

}
.navigation{
    background-color: black;
    grid-area: nav;
    display: flex;
    justify-content: space-around;
}
.navigation:hover{
    box-shadow: 1px 5px 7px 2px rgba(14, 141, 245, 0.938);
    border-radius: 15px;
 
 }

ul{
    display: flex;
    align-content: right;
    list-style: none;
}
.logo{
    display: flex;
    justify-content: left;
    /* padding-left: 10px; */
    margin-top: 1px;
}
.logo > img{
    width: 150px;
     
    /* justify-content: left; */
}

li{
    display: flex;
    color: rgba(255, 255, 255, 0.966);
    padding-left: 15px;
    align-items: right;
    font-size: 33px;
    font-style: normal;
    font-family: candara, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold; 
}
#about{
    color: #FF5757;
}
.contents{
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    margin-top: 55px;
}

 
.image{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    background-color: black;
    grid-area: me;


}
.image img{
    border-radius: 15px;
}

.intro{
    background-color:  black;
    grid-area: get;
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.925);
    font-size: 27px;
    font-style: normal;
    font-family: candara, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
#surname{
    color:#FF5757;
}
 
.profile{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 20px;
    padding-right: 10px;
    padding-right: 10px;
    /* width: 50%;
    height: 80%; */
    background-color: black;
    grid-area: real;
    color: rgba(255, 255, 255, 0.911);
    font-size: 20px;
    font-style: italic;
    font-family: candara, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}
.input-field{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.submit{
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-family: candara;
    height: 45px;
    outline: none;
    width: 30%;
    color: black;
    background:  #FF5757;
    cursor: pointer;
    transition: .3s ;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgb(14, 245, 187);
 }

.spacer{
    background-color:  black;
    grid-area: give;
}
/* .give_left{
    background-color: black;
    grid-area: left1;
} */
.bottom{
    background-color:black;
    grid-area: footer;
}
a{
    color: rgba(255, 255, 255, 0.979);
    text-decoration: none;
    transition: .3s;
}
a:hover{
    box-shadow: 1px 5px 7px 2px  rgb(14, 245, 187);
    border-radius: 15px;
}
/* a >#about{
    color: #FF5757;
} */