*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(135, 190, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header{
    font-size: 50px;
    font-family: candara;
}
p{
    font-size: 30px;
    font-family: candara;
}