*{
    margin: 0px;
}
body{
    background-image: linear-gradient(270deg, #19526B, #568498,#FFFFFF);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 150px;
    

}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-weight: bolder;
    font-size: 30px;
}
.box{
    /* margin-left: 600px;
    margin-top: 0px; */
    background-image: linear-gradient(-270deg, #f1e6e6, #d0ecec, #c6cecd, #67cfc8);
    
    margin: 50px;
    margin-left: 25%;
    margin-right: 25%;
    /* width: 50%; */
    /* height: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}
.container{
      width: 50%;  
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    /* margin-left: 25%;
    margin-right: 25%; */
    
}
h1{
    display: flex;
    justify-content: center;
    font-weight: regular;
    font-size: 24px;
}
p1{
    display: flex;
    justify-self: center;
    margin-top: 10px;
    font-style: italic;
    font-weight: 100;
}
header{
    margin: 8px;
    margin-bottom: 2px;
    font-style: light;

}
.username{
    height: 45px;
    width: 87%;
    /* border: none; */
    border-radius: 15px;
    color: #252323;
    font-size: 15px;
    padding: 0 0 0 45px;
    background-image: linear-gradient(-270deg, #f1e6e6, #d0ecec, #c6cecd, #67cfc8);
    /* outline: none;  */
}
.password{
    height: 45px;
    width: 87%;
    /* border: none; */
    border-radius: 15px;
    color: #252323;
    font-size: 15px;
    padding: 0 0 0 45px;
    background-image: linear-gradient(-270deg, #f1e6e6, #d0ecec, #c6cecd, #67cfc8);
    /* outline: none;  */
}
.submit{
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    transition: .3s ;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.bottom{
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #0f0e0e;
        font-size: small;
        margin-top: 10px;
    
}
.left{
    display: flex;
}
/* /* label check{
    font-size: 100px;} */

label a{
    font-size: larger;
}
p2{
    font-size: larger;
}
span{
    font-size: larger;
}

.bottom2{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #0f0e0e;
    font-size: small;
    margin-top: 10px;

}