body{
    background-image: url(../Image/image\ \(2\).png);
    background-size: 50%;
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.box{
    /* background-color: #ffffff; */
    display: flex;
    justify-content: right;
    align-items: right;
    margin-right: 120px;
}
.container{
    display: flex;
    flex-direction: column;
}
.input-field .username{
    height: 45px;
    width: 87%;
    border: none;
    border-radius: 30px;
    color: #0a0a0a;
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(8, 20, 20, 0.1);
    outline: none;
}
.input-field .email{
    height: 45px;
    width: 87%;
    border: none;
    border-radius: 30px;
    color: #0a0a0a;
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(8, 20, 20, 0.1);
    outline: none;
}
.input-field .password{
    height: 45px;
    width: 87%;
    border: none;
    border-radius: 30px;
    color: #0a0a0a;
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(8, 20, 20, 0.1);
    outline: none;
}

header{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-stretch: expanded; */
}
.submit{
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    background: rgba(23, 25, 26, 0.527);
    cursor: pointer;
    transition: .3s ;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.quest{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* color: #fff;
    font-size: small;
    margin-top: 10px; */
    
}

h2{
    justify-content: center;
    align-self: center;
}
.quest2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#google{
    width: 30px;
}
#github{
    width: 30px;
}
h2{
    display: flex;
    align-items: center;
}