*{
    margin: 0px;
    padding: 0px;
}
body{
    /* background-color: rgb(200, 200, 233); */
}
.container{
    height: 100vh;
}
.navigation{
    display: flex;
    justify-content: right;
    padding-right: 20px;
     
    background-color: rgb(14, 142, 228);

}
.image{
    /* width: 40px; */
    display: flex;
    justify-content: left;
    margin-top: 1px;
    padding-left: 10px;
}
 
ul{
    display: flex;
    justify-content: right;
    list-style: none;

}
img{
    width: 150px;
    padding-left: 55px;
    /* display: flex;
    justify-content: left; */
}
li{
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 27px;
    font-style: normal;
    font-family: candara, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;   
}
a{
    /* align-content: center; 
    align-items: center; */
}
.words{
    width: 70%;
}
#home{
    color: #FF5757;
}
.contents{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    color: white;
}
p1{
    color:#FF5757;
}
.contents-1{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    color: white;
}
#h2{
    color: gray;
}
.sub-container{
    height: 100%;
    display: grid;
    grid-template-areas: "legal find find find fourth fourth fourth fourth fourth seventh"
                         "legal find find find fifth fifth fifth fifth fifth seventh"
                         "legal find find find fifth fifth fifth fifth fifth seventh"
                         "legal find find find fifth fifth fifth fifth fifth seventh"
                         "legal finder finder finder fifth fifth fifth fifth fifth seventh"
                         "legal finder finder finder fifth fifth fifth fifth fifth seventh"
                         "legal finder finder finder sixth sixth sixth sixth sixth seventh"
                         "legal finder finder finder sixth sixth sixth sixth sixth seventh"
                         "legal finder finder finder sixth sixth sixth sixth sixth seventh"
                         "legal finder finder finder sixth sixth sixth sixth sixth seventh";
    grid-template-columns:  repeat(10,10%);
    background-color: #664c4c;
    grid-template-rows: repeat(10, 10%);
    
}
.one{
    background-color: bisque;
    grid-area: legal;
}
.two{
    background-color: aqua;
    grid-area: find;
}
.three{
    background-color: rgb(226, 194, 194);
    grid-area: finder;
}
.four{
    background-color: blueviolet;
    grid-area: fourth;
}
.five{
    background-color: blue;
    grid-area: fifth;
}
.six{
     background-color: chartreuse;
     grid-area: sixth;
}
.seven{
    background-color: crimson;
    grid-area: seventh;
}